{% extends 'allianceauth/base.html' %}
{% load i18n %}

{% block page_title %}{% trans "Structures" %}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ page_title }}</h2>
    <div class="col-lg-12 container">
        {% block details %}{% endblock %}
    </div>
{% endblock %}
